<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true">

    <appender name="Disk" class="org.apache.log4j.RollingFileAppender">
      <param name="file" value="${user.dir}/logs/ftp.log"/>
      <param name="MaxFileSize" value="1000KB"/>
      <layout class="org.apache.log4j.PatternLayout">
              <param name="ConversionPattern" value="[%5p][%d{dd-MMM-yy HH:mm:ss}][%c]: %m%n"/>
      </layout>
    </appender>

   <root>
      <priority value="INFO"/>
      <appender-ref ref="Disk"/>
    </root>

</log4j:configuration>
